<!DOCTYPE html>
<html lang="en">
<head>
  <title>Patient-details</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container"><br><div class="jumbotron"><br>

  <center><em><u><h2>Patient details:</h2></u></em></centre><br><br><br>
  <form data-toggle="validator" class="form-horizontal" role="form" action="{{url_for('insertPatient')}}" method="POST">
    <div class="form-group">
      <label class="control-label col-sm-2">Name:</label>
      <div class="col-sm-5">
        <input  type="text" class="form-control" name="name" required >
      </div>
    </div><br>
    <div class="form-group">
      <label class="control-label col-sm-2" >Age:</label>
      <div class="col-sm-5">          
        <input type="number" class="form-control" name="age" required >
      </div>
    </div>
    <div class="form-group"><br>
      <label class="control-label col-sm-2">Sex:</label>
      <div class="col-sm-5">
      <select class="form-control" name="sex" id="sex">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
        <option value="Other">Other</option>
      </select>
        </div>
    </div><br>
    <div class="form-group"><br>
      <label class="control-label col-sm-2">State:</label>
      <div class="col-sm-5">
      <select class="form-control" name="state" id="state">
        <option value="Uttar Pradesh">Uttar Pradesh</option>
        <option value="Gujarat">Gujarat</option>
        <option value="Madhya Pradesh">Madhya Pradesh</option>
        <option value="Maharashtra">Maharashtra</option>
        <option value="Delhi">Delhi</option>
      </select>
        </div>
    </div><br>
    <div class="form-group"><br>
      <label class="control-label col-sm-2">City:</label>
      <div class="col-sm-5">          
        <input type="text" class="form-control" name="city" required >
      </div>
    </div>
    <div class="form-group"><br>
      <label class="control-label col-sm-2">Status:</label>
      <div class="col-sm-5">
      <select class="form-control" name="status" id="status">
        <option value="Active">Active</option>
        <option value="Recovered">Recovered</option>
        <option value="Deceased">Deceased</option>
      </select>
        </div>
               
        
      
    </div><br>

  


    <div class="form-group">        
      <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-default">Submit</button>
      </div>
    </div>
  </form>
</div>
</div>
<div class="container">
  <button type="button" class="btn btn-primary" style="float: right;" onclick="window.location.href='{{ url_for('statistics')}}';">View Statistics</button>
  <button type="button" class="btn btn-primary" style="float: left;"onclick="window.location.href='{{ url_for('login')}}';">Home</button>
</div>
</body>
</html>