<!DOCTYPE html>
<html>
<head>
<title>Report</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="well text-center">
        <button type="button" class="btn btn-primary" style="float: left;" onclick="window.location.href='{{ url_for('login')}}';">Home</button>
        <h1>Your Covid-19 Report</h1>
    </div>
    <div class="text-center">
		<form class="form-inline" action="{{url_for('report')}}" method ="POST">
		  <div class="form-group">
		    <label for="email">Phone:</label>
		    <input type="phone" class="form-control" name="phone">
		  </div>
		  <button type="submit" class="btn btn-primary">Download report</button>
		</form>
    </div>
</div>
</body>
</html>