<!DOCTYPE html>
<html>
<head>
<title>Report</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <div class="well text-center">
        <h1>Your Covid-19 Report</h1>
    </div>
    <div class="text-center">
		<form class="form-inline" action="{{url_for('report')}}" method ="POST">
		  <div class="form-group">
		    <label for="email">Phone:</label>
		    <input type="phone" class="form-control" name="phone">
		  </div>
		  <button type="submit" class="btn btn-primary">Show report</button>
		</form>
    </div>
    <br>
    <table class="table table-bordered">
    		<thead>
	    		<tr>
	    			<th>Serial</th>
	    			<th>Name</th>
	    			<th>Age</th>
	    			<th>Sex</th>
	    			<th>Phone</th>
	    			<th>State</th>
	    			<th>City</th>
	    			<th>Symptoms</th>
	    		</tr>    			
    		</thead>
    		<tbody>
    			{% for row in result %}
	    		<tr>
	    			<td>{{row.id}}</td>
	    			<td>{{row.name}}</td>
	    			<td>{{row.age}}</td>
	    			<td>{{row.sex}}</td>
	    			<td>{{row.phone}}</td>
	    			<td>{{row.state}}</td>
	    			<td>{{row.city}}</td>
	    			<td>{{row.symptoms}}</td>
	    		</tr>
	    		{% endfor %}    			
    		</tbody>
    	</table>
</div>
</body>
</html>