<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
	<title>Statistics</title>
</head>
<body>
	<div class="container">
	    <div class="well text-center">
        	<h1>Covid-19 Statistics</h1>
    	</div>
    	<table class="table table-bordered">
    		<thead>
	    		<tr>
	    			<th>Serial</th>
	    			<th>Name</th>
	    			<th>Age</th>
	    			<th>Sex</th>
	    			<th>State</th>
	    			<th>City</th>
	    			<th>Status</th>
	    		</tr>    			
    		</thead>
    		<tbody>
    			{% for row in stats %}
	    		<tr>
	    			<td>{{row.id}}</td>
	    			<td>{{row.name}}</td>
	    			<td>{{row.age}}</td>
	    			<td>{{row.sex}}</td>
	    			<td>{{row.state}}</td>
	    			<td>{{row.city}}</td>
	    			<td>{{row.status}}</td>
	    		</tr>
	    		{% endfor %}    			
    		</tbody>
    	</table>
	</div>

	<div class="container" align="left">
  		<embed type="image/svg+xml" src={{graph_data|safe}} style="max-width: 1000px;"></embed>
	</div>
	
</body>
</html>